.layout {
    display: grid;
    grid-template-columns: 8rem 1fr;
    max-height: 100vh;
    position: relative;
    user-select: none;
}



@media (width < 650px) {

    .layout {
        grid-template-columns: unset;
        grid-auto-flow: row;
    }

}